{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

    {# <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
{% endblock %} #}



<p>
    S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que vous
    pouvez utiliser pour réinitialiser votre mot de passe.
    Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData,
    'ResetPasswordBundle') }}.
</p>
<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a
        href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>


<div class="retourHome">
    <a href="{{ path('home') }}">Retour à la page d'accueil</a>
</div>


{% endblock %}

